{
  "sftp_host": "sftp.example.com",
  "sftp_login": "your-login",
  "sftp_https": "https://files.example.com",
  "sftp_key": "~/.ssh/id_ed25519",
  "sftp_passwd": "",
  "sftp_destination_path": "",
  "sftp_port": "22",
  "sftp_known_hosts": ""
}
